POSTGRES_DB=growfolo
POSTGRES_USER=growfolo
POSTGRES_PASSWORD=growfolo_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

JWT_SECRET=change-me-in-production
RESEND_API_KEY=re_change_me
EMAIL_FROM=Growfolo <orders@growfolo.io>

